.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2%;
  font-style: normal;
  font-family: monospace;
  margin-top: 80px;
}

.imageCard {
  padding-left: 2%px;
  padding-right: 2%;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  border-radius: 22px;
  background: linear-gradient(166.57deg, #60091d 5.47%, #985355 90.36%);
}

.imageCard img {
  width: 400px;
  height: 400px;
}

.detailsCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 6%;
  border-radius: 22px;
  background-color: #958787;
  color: rgb(110, 7, 7);
  font-size: large;
  line-height: 30px;
  border-spacing: 12px;
}

h3 {
  text-align: center;
  color: rgb(128, 0, 0);
}

@media (max-width: 768px) {
  .detailsCard {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .detailsCard {
    grid-template-columns: 1fr;
  }
}

.error {
  margin-top: 150px;
  font-size: 18px;
  font-style: normal;
  font-family: monospace;
}

progress{
  width: 100%;
  height: 30px;
  
}
